<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>내 구매 내역</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/common.css">
  <script src="https://kit.fontawesome.com/a390ee81f6.js" crossorigin="anonymous"></script>
</head>
<body>
  <header th:replace="~{fragments/header :: header}"></header>
  
  <div class="container purchase-list-container">
    <h1 class="title">내 구매 내역</h1>
    <table class="table">
      <thead>
        <tr>
          <th>구매 ID</th>
          <th>구매일</th>
          <th>총 금액</th>
          <th>상세보기</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="p : ${purchases}">
          <td th:text="${p.purchaseId}"></td>
          <td th:text="${#temporals.format(p.purchasedAt, 'yyyy-MM-dd HH:mm')}"></td>
          <td th:text="${p.totalPaid}"></td>
          <td>
            <a th:href="@{/profile/purchases/{pid}/detail(pid=${p.purchaseId})}" class="link-button">자세히</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>